a {
    text-decoration: none;
    color: #333;
}
@keyframes bounceFromTop {
    0%, 25%, 55%, 85%, 100% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }
    41%, 44% {
        animation-timing-function: ease-in;
        transform: translate3d(0, -20px, 0) scale3d(1, 1.1, 1);
    }
    70% {
        animation-timing-function: ease-in;
        transform: translate3d(0, -10px, 0);
    }
    90% { transform: translate3d(0, -4px, 0) }
}
/* 首屏渐变色背景 */
.first-screen {
    width: 100%;
    height: 100vh;
    background: #216ef4;
    background: radial-gradient(circle, rgba(33,110,244,1) 0%, rgba(31,104,238,1) 43%, rgba(42,70,193,1) 100%);
    min-width: 1200px;
}

/* header */
header {
    width: 100%;
    height: 116px;
    padding: 30px;
}

.header-container {
    display: flex;
    width: 1140px;
    margin: 0px auto;
    height: 100%;
    /* background-color: rgba(255, 255, 255, .7); */
    border-radius: 3px;
}

.header-container .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}
.header-container .logo img {
    margin-right: 15px;
}

.header-container .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
    height: 100%;
}

.header-container .header-right .header-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 25px;
}
.header-container .header-right .header-right-item a {
    font-size: 18px;
    color: #fdfdfd;
    transition: color .3s;
}
.header-container .header-right .header-right-item a:hover {
    color: #000;
}


.header-container .header-right .header-right-item a.github {
    /* button样式 */
    display: inline-block;
    padding: 6px 15px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #216ef4;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.header-container .header-right .header-right-item a.github:hover {
    animation-name: bounceFromTop;
}

.main {
    width: 1140px;
    height: calc(100% - 170px);
    padding: 30px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    height: 600px;
    display: flex;
    color: #fcfcfc;
}
.main-container .left-content {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fcfcfc;
}
.main-container .main-title {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
}
.main-container .main-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.main-container .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

footer {
    height: 54px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright {
    font-size: 14px;
    color: #fcfcfc;
}
footer .copyright a {
    color: #fcfcfc;
}

.hero-shape {
    position: absolute;
}
.shape-one {
    top: 200px;
    right: 160px;
    animation: randomMove 100s infinite;
}
/* keyframe 上下左右移动 */
@keyframes randomMove {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    10%, 90% {
        transform: translate3d(50px, -50px, 0);
    }
    20%, 80% {
        transform: translate3d(0, -80px, 0);
    }
    30%, 70% {
        transform: translate3d(0, -60px, -100px);
    }
    40%, 60% {
        transform: translate3d(40px, 30px, -30px);
    }
    50% {
        transform: translate3d(0, 10px, 0);
    }

}

.shape-one .shape {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
}